
.picks-for-you {
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow-x: scroll;
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    text-align: left;
}


.today-top-picks ::-webkit-scrollbar {
    display: none;
}

.picks-for-you-img {
    position: relative;
    min-width: 250px;
    min-height: 100px;
    max-width: 250px;
    max-height: 130px;
    margin: 10px 0px;
}

.picks-for-you-img:hover {
    transform: scale(1.2);
    z-index: 2;
}

.picks-for-you-img img {
    border-radius: 5px;
}

.slidebtnleft, .slidebtnright {
    border-radius: 5px;
    color: white;
    max-height: 140px;
    background-color: rgba(0, 0, 0, 0.534);
   font-size: 50px;
   z-index: 3;
}

.slidebtnleft:active, .slidebtnright:active {
    background-color: white;
    color: black;
    margin: 0px;
    z-index: 4;
}

.slidebtnleft {
    height: 170px;
    position: absolute;
    left: 2%;
    z-index: 2;
}

.slidebtnright {
    position: absolute;
    right: 2%;
    height: 170px;
}

.popup-video {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 200px;
    height: 200px;
    background-color: rgb(26, 26, 26);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup-video video {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
  }

@media (max-width: 700px) {
    .slidebtnleft, .slidebtnright {
        display: none;
    }
    .picks-for-you-img {
        min-width: 150px;
        min-height: 100px;
        max-width: 350px;
        max-height: 200px;
    }

    .picks-for-you-img img {
        border-radius: 0px;
    }
    
    .picks-for-you {
        overflow-x: scroll;
        margin-bottom: 10px;
        height: 100px;
    }
    body {
        overflow-x: hidden;
    }
}